http:
  middlewares:
    cors:
      headers:
        accessControlAllowOriginList:
          - "*"
        accessControlAllowMethods:
          - "*"
        accessControlAllowHeaders:
          - "*"
        accessControlExposeHeaders:
          - "*"
        accessControlAllowCredentials: true
        accessControlMaxAge: 86400
        addVaryHeader: true
    redirect-to-https:
      redirectScheme:
        scheme: https
    dashboard-ip-whitelist:
      ipWhiteList:
        sourceRange:
          - "5.136.87.206/32" # my
          - "79.132.136.31/32" # vpn
          - "127.0.0.1/32"

  routers:
    dashboard:
      rule: "Host(`dashboard.dev.nambapp.ru`)"
      entryPoints:
        - https
      middlewares:
        - dashboard-ip-whitelist
      service: api@internal
      tls:
        certResolver: letsencrypt